@using Microsoft.AspNetCore.Identity
@using TravelMate.Infrastructure.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model PostViewModel

<div class="row">
    @if (!string.IsNullOrEmpty(Model.PhotoUrl))
    {
        <div class="col-md-4">
            <img class="card-img-top" src="@Model.PhotoUrl" alt="Post Image">
        </div>
    }      
    <div class="col-md-8">
        <h4>@Model.AuthorName</h4>
        <a class="btn btn-outline-primary btn-sm" asp-area="" asp-controller="Profile" asp-action="ViewProfile" asp-route-id="@Model.AuthorId">View Profile</a>
        <p>@Model.Content</p>
        <p> Location: @Model.Country</p>
        <p> Added: @Model.PostTime</p>
        <p> Category: @Model.Category </p>
        <p>Likes: <b>@Model.Likes</b></p>
        <br />
        @if (UserManager.GetUserId(User) != Model.AuthorId)
        {
            <div class="btn-group">
                <a class="nav-link text-dark" asp-area="" asp-controller="Like" asp-action="LikePost" asp-route-id="@Model.Id">Like</a>
                <a class="nav-link text-dark" asp-area="" asp-controller="Comments" asp-action="ViewPostComments" asp-route-id="@Model.Id">Comments (@Model.Comments)</a>
            </div>
        }
        else
        {

            <a asp-area="" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-sm">Edit</a>
            <a asp-area="" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-sm">Delete</a>
        }
    </div>
</div>

