@using Microsoft.AspNetCore.Identity
@using TravelMate.Infrastructure.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model PostViewModel

<div class="row">
    @if (!string.IsNullOrEmpty(Model.PhotoUrl))
    {
        <div class="col-md-4">
            <img class="card-img-top" src="@Model.PhotoUrl" alt="Post Image">
        </div>
    }      
    <div class="col-md-8">
        <h4>@Model.AuthorName</h4>
        <form asp-area="" asp-controller="Profile" asp-action="ViewProfile" asp-route-id="@Model.AuthorId" method="post">
            <input class="btn btn-outline-success btn-sm" type="submit" value="View profile" />
        </form>
        <p>@Model.Content</p>
        <p> Location: @Model.Country</p>
        <p> Added: @Model.PostTime</p>
        <p> Category: @Model.Category </p>
        <p>Likes: <b>@Model.Likes</b></p>
        <p>Comments: <b>@Model.Comments</b></p>
        <br />
        @if (UserManager.GetUserId(User) != Model.AuthorId)
        {
            <div class="btn-group">
                
                <form asp-area="" asp-controller="Like" asp-action="LikePost" asp-route-id="@Model.Id" method="post">
                    <input class="btn btn-primary btn-sm" type="submit" value="Like" />
                </form>
                <h6><b>Comment</b></h6>
            </div>
        }
        else
        {

            <a asp-area="" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-sm">Edit</a>
            <a asp-area="" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-sm">Delete</a>
        }
    </div>
</div>

