@using Microsoft.AspNetCore.Identity
@using TravelMate.Infrastructure.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model PostViewModel

<div class="row">
    <div class="col-md-4">
        <img class="card-img-top" src="@Model.PhotoUrl" alt="Post Image">
    </div>
    <div class="col-md-8">
        <h4>@Model.AuthorName</h4>
        <p> Added: <b>@Model.PostTime</b></p>
        <p> Location: <b>@Model.Country</b></p>
        <p> Category: <b>@Model.Category</b> </p>
        <p>@Model.Content</p>
        <p>Likes: <b>@Model.Likes</b></p>
        <p>Comments: <b>@Model.Comments</b></p>
        <br />
        @if (UserManager.GetUserId(User) != Model.AuthorId)
        {
            <div class="form-inline">
                <form asp-area="" asp-controller="Profile" asp-action="ViewProfile" asp-route-id="@Model.AuthorId" method="post">
                    <input class="btn btn-primary btn-sm" type="submit" value="View profile" />
                </form>
                <h6><b>Like</b></h6>
                <h6><b>Comment</b></h6>
            </div>
        }
        else
        {

            <a asp-area="" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-sm">Edit</a>
            <a asp-area="" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-sm">Delete</a>
        }
    </div>
</div>

