@model PostViewModel

@{
    ViewBag.Title = "Create a New Post";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form method="post" enctype="multipart/form-data"  asp-action="AddPost">
            <div class="mb-3">
                <input type="hidden" asp-for="@Model.Id"  />
                @*<span asp-validation-for="Title" class="text-danger"></span>*@
            </div>
            <div class="mb-3">
                <input type="hidden" asp-for="@Model.PostTime" />
                @*<span asp-validation-for="PostTime" class="text-danger"></span>*@
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Content" class="form-label">Content</label>
                <textarea asp-for="@Model.Content" class="form-control" aria-required="true" rows="5"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Files" class="control-label">Files</label>
                <input asp-for="Files" accept="image/*" />
                @*<input type="file" name="files" multiple />*@
                <span asp-validation-for="Photos" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input class="btn btn-primary" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

