@model EditCategoryViewModel

@{
    ViewBag.Title = "Add a new category";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />


<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form method="post" asp-action="Add">
            <div class="mb-3">
                <input type="hidden" asp-for="@Model.Id" />
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.Name">Category Name</label>
                <input class="form-control " autocomplete="Category Name" aria-required="true" asp-for="@Model.Name" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <label asp-for="@Model.Description" class="form-label">Category Description</label>
                <textarea asp-for="@Model.Description" class="form-control" aria-required="true" rows="7"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="text-center mb-3">
                <input class="btn btn-primary" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

