@model PersonalProfileViewModel

@using Microsoft.AspNetCore.Identity
@using TravelMate.Infrastructure.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewBag.Title = "Personal profile";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;" src="@Model.ProfilePictureUrl" alt="No User Photo">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:18px;"><u> @Model.FirstName @Model.LastName</u></p>
            @if (UserManager.GetUserId(User) == Model.UserId)
            {
                <p>Birthday: <b>@Model.BirthDate</b></p>
            }
            <p>Location: <b>@Model.Country</b></p>
            <p>About me: @Model.Information</p>
            @if (UserManager.GetUserId(User) == Model.UserId)
            {
                <div class="form-inline">
                    <a class="btn btn-warning" asp-controller="Profile" asp-action="Edit" asp-route-id="@Model.UserId">Edit</a>
                </div>
            }
            else
            {
                <h4>Add friend</h4>
            }
        </div>
    </div>
</div>